.l-hello-console {
    margin: 0;
    height: 100%;
    width: 100%;

    background-color: #000000;
    padding: 8px;
    color: #55FF55;
    font-size: 32px;
    font-family: 'Source Code Pro', 'Lucida Grande', sans-serif;
}

.l-hello-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hello-message {
}

/* animated cursor */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}